{% extends 'base.html' %}

{% load thaidate %}

{% block content %}
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">รายงาน คำขออนุมัติลา</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div>

    <!-- Content Row -->
    <div class="row"> 
        <div class="col-xl-12 col-md-6">
            <table class="table" id="dataTables_example">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">วันที่ทำรายการ</th>
                    <th scope="col">ชื่อ-นามสกุล</th>
                    <th scope="col">ประเภทการลา</th>
                    <th scope="col">วันที่ลา</th>
                    <th scope="col">จำนวนวัน</th>
                    <th scope="col">ดำเนินการ</th>
                  </tr>
                </thead>
                <tbody>
                   {% for showdata in approve_leave %} 
                  <tr>
                    <td>{{showdata.created|thaidate:"d M Y"}}</td>
                    <td>{{showdata.user.first_name}} - {{showdata.user.last_name}}</td>
                    <td>{{showdata.leave_sort_name}}</td>
                    <td>{{showdata.start_date|thaidate:"d M Y"}} - {{showdata.end_date|thaidate:"d M Y"}}</td>
                    <td>{{showdata.days_leave}}</td>
                    <td><a href="{% url 'leaveappdata:approve_leave_form' showdata.id 1 %}" class="btn btn-success" name="approve" id="approve" value="approve">อนุมัติ</a>
                        <a href="{% url 'leaveappdata:approve_leave_form' showdata.id 0 %}" class="btn btn-danger" name="reject" id="reject" value="reject">ไม่อนุมัติ</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>   
    </div>
    <!-- End Centent Row -->
</div>
<!-- End Content Row -->
{% endblock %}