{% extends 'base.html' %}

{% load thaidate %}

{% block content %}
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">รออนุมัติ</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div>

    <!-- Content Row -->
    <div class="row"> 
        <div class="col-xl-12 col-md-6">
            <table class="table" id="dataTables_example">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">ลำดับที่</th>  
                    <th scope="col">วันที่ทำรายการ</th>
                    <th scope="col">ประเภทการลา</th>
                    <th scope="col">วันที่ลา</th>
                    <th scope="col">จำนวนวัน</th>
                    <th scope="col">เหตุผล</th>
                    <th scope="col">สถานะ</th>
                  </tr>
                </thead>
                <tbody>
                   {% for showdata in showdata_p %} 
                  <tr>
                    <th scope="row">{{showdata.id}}</th>
                    <td>{{showdata.created|thaidate:"d M Y"}}</td>
                    <td>{{showdata.leave_sort_name}}</td>
                    <td>{{showdata.start_date|thaidate:"d M Y"}} - {{showdata.end_date|thaidate:"d M Y"}}</td>
                    <td>{{showdata.days_leave}}</td>
                    <td>{{showdata.leave_reason}}</td>
                    <td>{{showdata.status}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>   
    </div>
    <!-- End Centent Row -->
</div>
<!-- End Content Row -->
{% endblock %}